<style>
    .manager-navigation li {
        margin: 20px 10px;
        font-size: 1rem;
        font-weight: 600;
    }

    .manager-navigation li a {
        color: black;
        text-decoration: none;
    }

    .manager-navigation li a:hover {
        color: brown;
    }
</style>

<ul class="manager-navigation">
    <li>
        <a asp-area="Admin" asp-controller="Orders" asp-action="Index">Заказы</a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Products" asp-action="Index">Товары</a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Users" asp-action="Index">Пользователи</a>
    </li>

    <li>
        <a asp-area="Admin" asp-controller="Roles" asp-action="Index">Роли</a>
    </li>
</ul>